@charset "utf-8";
/* CSS Document */

body { background: #EEE; }
html, body, td, th { font-family: Segoe UI, Tahoma, Geneva, sans-serif; font-size: 9pt; line-height: 120%; }

.N2_Zone { background: #fff; border: 1px solid #666; padding: 0 14px 14px 14px; }
#Left { float: left; width: 200px; padding-top: 14px; }
#Content { margin-left: 220px; max-width: 800px; }

h1 { font-size: 20pt; font-weight: 100; }
h2 { font-size: 15pt; font-weight: 100; }
h3 { font-size: 13pt; font-weight: 100; }

.inline-image { padding: 14px; text-align: center; }

#Left       { font-size: 9pt; }
#Left p     { font-weight: bold; }
#Left ul    { padding-left: 0.0em; margin-left: 0; list-style-type: square; }
#Left ul ul { padding-left: 1.5em; margin-left: 0; list-style-type: circle; }

table { border-collapse: collapse; }
td, th { border: 1px solid silver; padding: 6px; margin: 0; }
th{ background: #EEE; }